body {
    background-image: url("../imgs/clear.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 30px;
    text-align: center;

    -webkit-transition: opacity 5s ease-in-out;
    -moz-transition: opacity 5s ease-in-out;
    -o-transition: opacity 5s ease-in-out;
    transition: opacity 5s ease-in-out;
}

body img {
    -webkit-transition: opacity 5s ease-in-out;
    -moz-transition: opacity 5s ease-in-out;
    -o-transition: opacity 5s ease-in-out;
    transition: opacity 5s ease-in-out;
}

a {
  color: #00B7FF;
}

.images {
    height: 800px;
    overflow: auto;
}

.images img {
    cursor: pointer;
}

.images img:hover {
    border: 2px solid #00B7FF;
}

footer {
    position: absolute;
    bottom: 0;
    padding-bottom: 100px;
    width: 80%;
    padding: 0;
}

footer h2.ui.header {
    font-size: 100px;
}

footer .ui.sub.header {
    font-size: 20px;
}

footer h3.ui.header {
    position: absolute;
    right: 0;=
}
